<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Thank you <%= @user.first_name %> for registering for the Panel Application</p>
    <p>Username: <%= @user.username %></p>
    <p>Login Info: <%= @user.email %></p>
  </body>
</html>