<% if resource.errors.any? %>
  <div class="alert alert-warning" role="alert">
    <h5>Oops There was the following errors...</h5>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
