<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <tr>
          <th scope="col">Panel Name</th>
          <th scope="col">Host / User</th>
          <th></th>
        </tr>
        <% @panels.submitted.each do |panel| %>
          <tr>
            <td><%= panel.event_name %></td>
            <td><%= panel.host_stage_name %> / <%= panel.user.username %></td>
            <td><%= link_to "View Application", admin_application_path(panel.slug) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>