@import "bootstrap/scss/bootstrap";

.nav-banner-hm {
  background-color: #39996A !important;
}
datalist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input {
  width: 100%;
}